<div class="row">

  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbsbl7zul22h" data-bluesky-cid="bafyreicbit22m4fvslcou6xzawnpp2s6uhurem4qsdqljsc54lb7gcqkha"><p lang="en">Get reddy I&#x27;m 👆 agan</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed"> &#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbsbl7zul22h?ref_src=embed">November 25, 2024 at 11:39 AM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbsbm6rtus2h" data-bluesky-cid="bafyreieeyqvdeuecz6of3eskdzc543zw6ze3yxk4egpre5dlhdf7paacve"><p lang="en">Kat</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed"> &#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbsbm6rtus2h?ref_src=embed">November 25, 2024 at 11:39 AM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbsc3fnpk22w" data-bluesky-cid="bafyreiheqrmb6byw5ejvqnu33amt67qb2e4kfhqbh2xzlcyfrl6fpsigpe"><p lang="en">She wagggggggggaaaaaa</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed"> &#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbsc3fnpk22w?ref_src=embed">November 25, 2024 at 11:48 AM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbt2ramstc2z" data-bluesky-cid="bafyreiey7552jwjn2hcqmjg4wcwq7lfsandncjned275biuoazcocxu3nq"><p lang="en">I am proud of myself for not live tweeting my thoughts while stoned</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed"> &#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbt2ramstc2z?ref_src=embed">November 25, 2024 at 7:09 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>

</div>
