<app-header></app-header>
<div class="container">

  <div class="row">
    <div class="card">
      <h2 >Welcome To Evan's Monument To Bad Decisions</h2>
      <img class="card-img-top" src="..." alt=" ">
      <div class="card-body">
        <p>Follow HIMediaTV Below For More Up To Date Tweets And Less Stoned But No Less Fun Content</p>
        <a class="btn btn-primary" href="https://bsky.app/profile/himedia.gg">Follow</a>
      </div>
    </div>

  </div>
  <button class="btn btn-primary" (click)="onClickOctober5Visibility()">10-5-2024 Session</button>
  <button class="btn btn-primary" (click)="onClickOctober6Visibility()">10-6-2024 Session</button>
  <button class="btn btn-primary" (click)="onClickOctober12Visibility()">10-12-2024 Session</button>

  <app-october-5-2024 *ngIf="October5Visibility==true"></app-october-5-2024>
  <app-october-6-2024 *ngIf="October6Visibility==true"></app-october-6-2024>
  <app-october-12-2024 *ngIf="October12Visibility==true"></app-october-12-2024>
</div>
<app-footer></app-footer>
