.container{
  margin-bottom: 10em;
}
.btn{
  display:inline-block;
  margin: 0.5em;
  box-shadow: 5px 10px #888888;
}

.card{
  display:inline-block;
  margin: 0.5em;
  box-shadow: 5px 10px #888888;
}
