
<div class="row">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3l5tdt3jsf72n" data-bluesky-cid="bafyreigkq7fvi5o6onqhhb2h72crj3ffiii4apf7v22hpglgjrtdcvxqti"><p lang="en">I apologize for all the weird shit I posted yesterday</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3l5tdt3jsf72n?ref_src=embed">October 6, 2024 at 1:10 AM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
</div>

