<div class="row">
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3l6d6xkydtf2x" data-bluesky-cid="bafyreihx4gi27cqe5lycuwtcklsiraqknskg5nedebvn7l5rakey2k4xp4"><p lang="en">I&#x27;m stoned again, brace fore impact</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3l6d6xkydtf2x?ref_src=embed">October 12, 2024 at 8:26 AM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3l6d6ybkgma24" data-bluesky-cid="bafyreih3xttjuc33p5rpcrxkrnlsma25az3julcmkjdyl7savg6elwvchi"><p lang="en">Hey hey uu I don&#x27;t like your girl friend</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3l6d6ybkgma24?ref_src=embed">October 12, 2024 at 8:27 AM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3l6d6ys5lmo2x" data-bluesky-cid="bafyreihno55mnoqnjxpjo6ev7c7w2pr2myyljd5u3vyvb3z2poi6bdepdi"><p lang="en">I will fight Ted I&#x27;ma parking lot</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3l6d6ys5lmo2x?ref_src=embed">October 12, 2024 at 8:27 AM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="https://cdn.bsky.app/img/feed_thumbnail/plain/did:plc:72tayfilsa6caks67lld7phz/bafkreiespyvgzrksk62tbxkmb43lwhcn2psgumw3efg6ho74vfb6whlvxe&#64;jpeg" alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3l6d73k3qxh2z" data-bluesky-cid="bafyreib37a2xq4anguw256avxiulmykmut5dtbwm3a2qv4nnh244gnbuzy"><p lang="en"><br><br><a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3l6d73k3qxh2z?ref_src=embed"></a></p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3l6d73k3qxh2z?ref_src=embed">October 12, 2024 at 8:28 AM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3l6d747enwb2i" data-bluesky-cid="bafyreihzhgv2xmsulw3hs377ox4cdjhrpvqlcnmdrrs4gkqpxzdltnfht4"><p lang="en">Moooooooormans are weird</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3l6d747enwb2i?ref_src=embed">October 12, 2024 at 8:29 AM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <video class="card-img-top" src="https://t.gifs.bsky.app/ioWF6s2tuD4AAAP3/spongegar-funny.webm" alt=" "></video>
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3l6d74xye5x23" data-bluesky-cid="bafyreid7o6r4byubdic65u4pblna7ntj7vach2ufhy5oj52rz3kmb6q6ii"><p lang="en">Die<br><br><a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3l6d74xye5x23?ref_src=embed"></a></p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3l6d74xye5x23?ref_src=embed">October 12, 2024 at 8:29 AM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3l6d75epxyx2c" data-bluesky-cid="bafyreidikg2mz543bzba4njdp5b7njale7qugltpjggtuawotddnhpevle"><p lang="en">What dad dog doin</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3l6d75epxyx2c?ref_src=embed">October 12, 2024 at 8:29 AM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3l6d75njpzg2x" data-bluesky-cid="bafyreidh7zqw7xey3k7ykueilqdsunikcsthd2nc4stzwq3535gns7fy3u"><p lang="en">Corgi❤️❤️❤️</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3l6d75njpzg2x?ref_src=embed">October 12, 2024 at 8:30 AM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3l6d75vpkhy2o" data-bluesky-cid="bafyreicrlz6tkxv4uhgnf7xahje57lirjvazxtrid2os2gncfdb7vpvrsy"><p lang="en">Fuc you uncle</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3l6d75vpkhy2o?ref_src=embed">October 12, 2024 at 8:30 AM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3l6d76a3boj2l" data-bluesky-cid="bafyreiaqqr3nboff2jbu6tymr7s3pcmoelyiaq44rre2qzezfwyktcxhxa"><p lang="en">Anthonyyyyyyyyyyyy love me</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3l6d76a3boj2l?ref_src=embed">October 12, 2024 at 8:30 AM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3l6d76gdimi2p" data-bluesky-cid="bafyreiae7cbtqi7qheriq4zituboe2zecs5ioy6qr5qrb3rysa5kojnejm"><p lang="en">Rent was late</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3l6d76gdimi2p?ref_src=embed">October 12, 2024 at 8:30 AM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3l6d76sadjh2c" data-bluesky-cid="bafyreihy2knns2tmhositegjgl3akdhvfvquk2ruzxmbtqpsvckqdqqaym"><p lang="en">I aw where my. Reddit card is</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3l6d76sadjh2c?ref_src=embed">October 12, 2024 at 8:30 AM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3l6d774oceu2o" data-bluesky-cid="bafyreihdupae6vzbzha3gpucwkavfgxbwzewgaqtpcftvynuougkgyl6pq"><p lang="en">Beep beep I&#x27;m a shee</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3l6d774oceu2o?ref_src=embed">October 12, 2024 at 8:30 AM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3l6d77ki2xr2b" data-bluesky-cid="bafyreihukaa32ecwonbwytiha62butt4jx6vc4utcwtxy7ttb7rxbmbpia"><p lang="en">EGGEGGEGGGEGGGEGGGSGGEGGGGEGGGEGGGEGGEGGRGG</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3l6d77ki2xr2b?ref_src=embed">October 12, 2024 at 8:31 AM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="https://cdn.bsky.app/img/feed_thumbnail/plain/did:plc:ukwly4246zmbi537o4u36pff/bafkreihd3ksodvzcnqrqqyxeng3qzvvlooqmo6b37v5zkzxi356k2a4tj4&#64;jpeg" alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3l6d7d3nx4l2j" data-bluesky-cid="bafyreiehfbs5scsn5za5oirkpqhdvdkyrlmbgoodzlde5kii23z637lfgm"><p lang="en">These people are WEEEEAK<br><br><a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3l6d7d3nx4l2j?ref_src=embed"></a></p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3l6d7d3nx4l2j?ref_src=embed">October 12, 2024 at 8:33 AM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3l6davdyior2h" data-bluesky-cid="bafyreihz4krccz4qm46pyolvaop2jvn724zpwazs2ifc45xshhnec4qebu"><p lang="en">Sometimes you have to be a sacrifice on the altar of ambition</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3l6davdyior2h?ref_src=embed">October 12, 2024 at 9:01 AM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3l6dbzzgbjj2l" data-bluesky-cid="bafyreiecwgrlxfzhv6tlxvmgolmdagcu45zzbhgrmey2wzyrbj4a56pg3u"><p lang="en">All hail Celoo green</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3l6dbzzgbjj2l?ref_src=embed">October 12, 2024 at 9:21 AM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="https://cdn.bsky.app/img/feed_thumbnail/plain/did:plc:7tgndxlawfxgc44e2wjsnhr2/bafkreibds6y2szcrln7gd7ws5sari2eyoodcj66uleoci7uxrkb5j6mlr4&#64;jpeg" alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3l6dcoxrj3l2p" data-bluesky-cid="bafyreidoazvwcmn4r7wftt4ngsuqwwgbakthq77vt426mgyr3soioz5iwe"><p lang="en">I luv them ❤️🥰❤️🥰❤️🥰❤️🥰❤️🥰❤️🥰❤️🥰❤️🥰❤️🥰❤️🥰❤️🥰❤️🥰<br><br><a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3l6dcoxrj3l2p?ref_src=embed"></a></p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3l6dcoxrj3l2p?ref_src=embed">October 12, 2024 at 9:33 AM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3l6dcqfdkcp2z" data-bluesky-cid="bafyreicqylxde6zsgujh2fyjil2wanxsdoukpajelan7cgn6fxvwv2rtwq"><p lang="en">HOTTOGO YOU CANT TAKE ME HOT TO GO</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3l6dcqfdkcp2z?ref_src=embed">October 12, 2024 at 9:34 AM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3l6dcrfcdqt2j" data-bluesky-cid="bafyreibqycuyik7biuxbiytspdhdzdsxpslp7o6gamcpfh7weuuhtgxpy4"><p lang="en">Every stareo type has a grain of truth<br><br><a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3l6dcrfcdqt2j?ref_src=embed"></a></p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3l6dcrfcdqt2j?ref_src=embed">October 12, 2024 at 9:34 AM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3l6dcssnxgc2a" data-bluesky-cid="bafyreicw72fyn5vez4x6logzvbxf24327ddw27coxxxih5efd542v4culu"><p lang="en">The big funny<br><br><a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3l6dcssnxgc2a?ref_src=embed"></a></p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3l6dcssnxgc2a?ref_src=embed">October 12, 2024 at 9:35 AM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="https://cdn.bsky.app/img/feed_thumbnail/plain/did:plc:q5optjrcji5uammmqoyzlrw5/bafkreifux2m3ark26rjjgcfsm44tkd77zxvrmkvextsqh24rsibsjt63cu&#64;jpeg" alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3l6dct7cd642w" data-bluesky-cid="bafyreigidmrhtpps7ogj5qflxvuntk4mbyjvkq6i3lrml46oej7h5oheki"><p lang="en">Hawt<br><br><a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3l6dct7cd642w?ref_src=embed"></a></p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3l6dct7cd642w?ref_src=embed">October 12, 2024 at 9:35 AM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3l6dcxcrzul2a" data-bluesky-cid="bafyreieevr6sezaqwaiiqtpbmbqmmu6ekyvyvu3wlxd3puzekhjpejfzba"><p lang="en">Baby gurl talk to me</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3l6dcxcrzul2a?ref_src=embed">October 12, 2024 at 9:38 AM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3l6dcxqhltt2p" data-bluesky-cid="bafyreibfzktnwulnplc6oakrlbbr25e2mifztfuccwp5yf3fxhcw327cxy"><p lang="en">Now rock rock rock rock you you can do it all by your aelf</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3l6dcxqhltt2p?ref_src=embed">October 12, 2024 at 9:38 AM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="https://cdn.bsky.app/img/feed_thumbnail/plain/did:plc:ult6exriwrzxivanyshiw2n2/bafkreidzv5ckcbfpzeiv35h5hvrdj4637agzuriegp6d4dn2ygwlnmjan4&#64;jpeg" alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3l6dcy65z3b2m" data-bluesky-cid="bafyreihfi5au3s4w34fbkvhn3t4fkih5pzuqfaoy63pl7sirpkwhgyqj5a"><p lang="en">Do a sick kick flup<br><br><a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3l6dcy65z3b2m?ref_src=embed"></a></p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3l6dcy65z3b2m?ref_src=embed">October 12, 2024 at 9:38 AM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">

    </div>
  </div>
</div>
