<div class="row">

  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbdi34qoz22b" data-bluesky-cid="bafyreicekp74f7u3erwcnzl7pw2uv7yqc7xaub3b3l42757dttd5dpbljy"><p lang="en">I&#x27;m stoned again, tweet barage inc</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdi34qoz22b?ref_src=embed">November 19, 2024 at 2:34 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbdi3mzg3s2b" data-bluesky-cid="bafyreih43hoxyro3bgrjzie2dfa3lfqbh4j26c43thd2f7yxdctjxndkyq"><p lang="en">I need a hot girl to ride my face</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdi3mzg3s2b?ref_src=embed">November 19, 2024 at 2:34 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbdi3x7au22b" data-bluesky-cid="bafyreib5nxxvthhcen2ph4qeiind7eynlgngzuborrp774rb5j3564w27y"><p lang="en">Fuck land lores</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdi3x7au22b?ref_src=embed">November 19, 2024 at 2:35 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbdi6vpp3c2b" data-bluesky-cid="bafyreifkdjfq7ete42duchwncylfjvzemtyj5bs7v2uzkltgkazvvbh52m"><p lang="en">Who the FUCK is a bird</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdi6vpp3c2b?ref_src=embed">November 19, 2024 at 2:36 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbdi7kb5622b" data-bluesky-cid="bafyreiedy4l7ex6fxduvwh6wueu4nmy4hla247j3qfnqyilsthetkb5cgu"><p lang="en">How the hell am I actually in LA</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdi7kb5622b?ref_src=embed">November 19, 2024 at 2:37 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbdidmprzs2b" data-bluesky-cid="bafyreicse5y43cxy72voj6fyqxx3lcsmfbwdmygktyo27nx5q6vp57mc3q"><p lang="en">3 cups water
        Seasoning packet
        Chopped meat of choice
        Italian seasoning
        Black peaper
        Bring to a boil
        Add eg whites
        Put egg yolk in bowl
        Add ramen
        Cook till done
        Poor in bowl and mix in yoak

        The reason why there are no measurements on seasoning is you must follow your soul to the seasoning heaven</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdidmprzs2b?ref_src=embed">November 19, 2024 at 2:39 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbdidvtmvk2b" data-bluesky-cid="bafyreifenz4owtqitijnixqbx22its6y4bsmfegzg7zdmzn5asroswv3by"><p lang="en">Mango mango mango</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdidvtmvk2b?ref_src=embed">November 19, 2024 at 2:39 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbdigimmi22b" data-bluesky-cid="bafyreia3v3q34vwwked7bjozebcrpg5yp2km5k2cfabi7yeosw3r3f4hye"><p lang="en">I hate bong rips</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdigimmi22b?ref_src=embed">November 19, 2024 at 2:41 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbdih5ienc2b" data-bluesky-cid="bafyreidyg4lnmexg4kvbisrxzvfsa6f5qozloypvsnhti52nx3bczek4oy"><p lang="en">I lyd they ard</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdih5ienc2b?ref_src=embed">November 19, 2024 at 2:41 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbdii3tlqk2b" data-bluesky-cid="bafyreie77bwfgv44z24zndtm2lgn7igikraflm5ntqtcov4t67a6duswma"><p lang="en">The dog days are over</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdii3tlqk2b?ref_src=embed">November 19, 2024 at 2:42 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbdijo6tcs2b" data-bluesky-cid="bafyreiapk7smjyshfzeysv65s2q43qm4v2rmvdusnfkg4ypdqtajfstr54"><p lang="en">I WANT MY JOKER SNILE 😭😭😭😭😭😈😈😈😈</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdijo6tcs2b?ref_src=embed">November 19, 2024 at 2:42 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbdik4giek2b" data-bluesky-cid="bafyreidgmzyqlbfz5imhqywywkbew75g6swxi7ubbjoayaeblzdwshgk6y"><p lang="en">Bald mountain is bald</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdik4giek2b?ref_src=embed">November 19, 2024 at 2:43 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="https://cdn.bsky.app/img/feed_thumbnail/plain/did:plc:72tayfilsa6caks67lld7phz/bafkreibbo7lyqriyhemisbrll2ukophgngmapdqax6wuh2be44nmg6u7pi&#64;jpeg" alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbdilbkmus2b" data-bluesky-cid="bafyreiat42sjt73coefucst6obx4542mui23rljd3t33rd6b2gfddmzfne"><p lang="en">Look at this puppy!!+;!<br><br><a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdilbkmus2b?ref_src=embed"> </a></p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdilbkmus2b?ref_src=embed">November 19, 2024 at 2:43 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbdilqfebs2b" data-bluesky-cid="bafyreicdzjjte4ggz2jy3wqqnvzyjcb463ho2tg3eo54jpzbiqrmxkan7m"><p lang="en">NOOOOOOOO I MISSED IT</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdilqfebs2b?ref_src=embed">November 19, 2024 at 2:44 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbdilxstvc2b" data-bluesky-cid="bafyreiced2hkbd2jrguwg3h3l5ailf6qwtc37je4xfalcwohzxhyak3lau"><p lang="en">I&#x27;m hungry</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdilxstvc2b?ref_src=embed">November 19, 2024 at 2:44 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbdimhzx7s2b" data-bluesky-cid="bafyreifw7uzciziksphdhjhggdagsmgwuasxnnxwxxumjplzhsa6lvaf7m"><p lang="en">I&#x27;m Gunna make a repo with all my high tweets</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdimhzx7s2b?ref_src=embed">November 19, 2024 at 2:44 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
      <strong>Editors Note: Foreshadowing</strong>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbdimvyibs2b" data-bluesky-cid="bafyreibyjdkar6giyuu5ztfqr6guafre3s5i2gx3pzrgxgh4pbvxnlagcq"><p lang="en">Umbrella Ella Ella Ella aye aye aye</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdimvyibs2b?ref_src=embed">November 19, 2024 at 2:44 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbdinngq3s2b" data-bluesky-cid="bafyreial6c3emtkld4dqbyopd3jplwmn2vlvov5kmiehsjtaya2e6eu3bm"><p lang="en">Fuck you orange country I needed prop 33</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdinngq3s2b?ref_src=embed">November 19, 2024 at 2:45 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbdio4juzs2b" data-bluesky-cid="bafyreia4uz7qszdebnzwjrx5lxmgnoquduaxzkjncjbieub77guszvgdia"><p lang="en">Fat old cahihua his!!?</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdio4juzs2b?ref_src=embed">November 19, 2024 at 2:45 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbdiq4vjac2b" data-bluesky-cid="bafyreigwaiqws5ftxx2qjn4t2af4jcw7zfslmgmg6tr2mekoow6dq27tdu"><p lang="en">I&#x27;m nom nom</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdiq4vjac2b?ref_src=embed">November 19, 2024 at 2:46 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbdir2o2ok2b" data-bluesky-cid="bafyreib3afpqrq3cid7pxrdjv2ts75amvhew74gpq4bov7qeekqa2wan4y"><p lang="en">Chowder looks like he vites</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdir2o2ok2b?ref_src=embed">November 19, 2024 at 2:47 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbdirrg3kk2b" data-bluesky-cid="bafyreidzozi3ppnb7vyxl437pmoraduqgvriwv6ebgemoxtcdxhgxlwmuu"><p lang="en">Is schnitzel invited to the cookout</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdirrg3kk2b?ref_src=embed">November 19, 2024 at 2:47 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbdisijufs2b" data-bluesky-cid="bafyreichklofuwph2y3bw73omin4yk2lrdepgbs3zdrknitnpn4fj6t4la"><p lang="en">Hey Siri hmu</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdisijufs2b?ref_src=embed">November 19, 2024 at 2:48 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbdit2iusc2b" data-bluesky-cid="bafyreifb3gcb644vyowtonszsbbvhqzbn2ew74f5djtbpea3hhozgih2ka"><p lang="en">WHY ARE WOMEN SO PERFECT</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdit2iusc2b?ref_src=embed">November 19, 2024 at 2:48 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbditjbwik2b" data-bluesky-cid="bafyreicss6mtaqdstedv4d6laimzceisxdcfy2tvu26uxj7bf7a2zt6yqm"><p lang="en">She&#x27;s so good at driving</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbditjbwik2b?ref_src=embed">November 19, 2024 at 2:48 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbdittl2ps2b" data-bluesky-cid="bafyreie2sxqqhacblniir5wcthkvu6dkuijusibge4idusyytge4hclfcq"><p lang="en">I wanna give big hugg</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdittl2ps2b?ref_src=embed">November 19, 2024 at 2:48 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbdiuj3mvk2b" data-bluesky-cid="bafyreibqlxdej75hkhsk3hkjpaxgb3edvozqwf2kfygn2nctll42b6xmxe"><p lang="en">Why does this stream
        T bridge thing look like news
        Rk</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdiuj3mvk2b?ref_src=embed">November 19, 2024 at 2:49 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbdiutz6h22b" data-bluesky-cid="bafyreiaxiecdugjgbbdv5kykwli27vuqptcyzh63iv45p7qzcx4b3ljjfa"><p lang="en">AHHHHHHHHHHHHHHHHH</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdiutz6h22b?ref_src=embed">November 19, 2024 at 2:49 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbdivkcz7s2b" data-bluesky-cid="bafyreiee5i6tc7pxjpmcb72qobqvip4z5bcq3p2hk3mujakih52raseaiu"><p lang="en">NO YOU CN see it nooo!!!!!!!</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdivkcz7s2b?ref_src=embed">November 19, 2024 at 2:49 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbdiwx3bas2b" data-bluesky-cid="bafyreicdvfdr4fgv4uudt7kivsgyv22i7dqzkxgdcojzx22vexdcybiiye"><p lang="en">She sent it to ME
        fuck you s
        Abrina</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdiwx3bas2b?ref_src=embed">November 19, 2024 at 2:50 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbdixnwfqc2b" data-bluesky-cid="bafyreifvdixap2f5qs6lmbad6mkavqbxrermf36te3rardugcurbalfonm"><p lang="en">Uncle kracker is a choice of time for stage name</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdixnwfqc2b?ref_src=embed">November 19, 2024 at 2:50 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbdixyii3s2b" data-bluesky-cid="bafyreidfry7vez7maswbsw3k4rxmqxzebjayghf6cb5xqxdusewoksjleu"><p lang="en">UwU</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdixyii3s2b?ref_src=embed">November 19, 2024 at 2:51 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbdiyl2zic2b" data-bluesky-cid="bafyreicb2oizmdfdqzex2uki4uihtecj33o7lw6vgmljl3ia5qi3mkbwja"><p lang="en">And rooss should kys</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdiyl2zic2b?ref_src=embed">November 19, 2024 at 2:51 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbdj22gxas2b" data-bluesky-cid="bafyreiedbbytk4tx7lb3d7hr7wuopajgbn4ko3mctvucx4yfh4zinybfde"><p lang="en">DAKADAKADAKADAKADAKADAKADAKADAKADAKADAKADAKADAKADAKADAKADAKADAKA

        WAAAAAAAAAAAGGGHHHHHHH</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdj22gxas2b?ref_src=embed">November 19, 2024 at 2:52 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbdj2dxxyk2b" data-bluesky-cid="bafyreihrekqxqmrc3link76ld447ersvrnc5cukpiqzwloim7qqbb5qvkm"><p lang="en">WHY ARE MEN EVEN</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdj2dxxyk2b?ref_src=embed">November 19, 2024 at 2:52 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbdj2r7cuk2b" data-bluesky-cid="bafyreia56hcub2jux54kdltzvrhqnrxgr6v27g7jlrjddpiz5zjkhyb7ba"><p lang="en">That church looks hella mid</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdj2r7cuk2b?ref_src=embed">November 19, 2024 at 2:52 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbdj35zzh22b" data-bluesky-cid="bafyreiclhvmo7v3x4monykuknfpbarrcjdxvd3lcpjm72m2a2qhfw2iqci"><p lang="en">Please follow me re popup</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdj35zzh22b?ref_src=embed">November 19, 2024 at 2:52 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbdj3kpd6c2b" data-bluesky-cid="bafyreigmljaqnmnix2d6i65zx2mwbchk2krhf3kgy3ayiamy2n4wtuabza"><p lang="en">AHHHHHHHHHHHHHHHHHH</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdj3kpd6c2b?ref_src=embed">November 19, 2024 at 2:53 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbdj3vzaa22b" data-bluesky-cid="bafyreiaz3wzwzcf4ifbftzcviyvzhj7p4ukehsz47tuxvyhg6ea7bu4yeu"><p lang="en">Why am I sinking</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdj3vzaa22b?ref_src=embed">November 19, 2024 at 2:53 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbdj4swoic2b" data-bluesky-cid="bafyreid4o2lid72jthodsyzvllpi5m62kcq4y6moadcr52fbsb3mjefzga"><p lang="en">Sun tan toes in sand AGHGHGHGHG

        SPONG BOB ME BOY PATRICK IS RHE MEET</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdj4swoic2b?ref_src=embed">November 19, 2024 at 2:53 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbdj5i3knc2b" data-bluesky-cid="bafyreib2ebm6dcekdps2i72t76n2ido27asn7s6cwxnleqp6zocnh5huaq"><p lang="en">BRUN IT, DEATH TO PLOTOCER</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdj5i3knc2b?ref_src=embed">November 19, 2024 at 2:54 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbdj5uuxa22b" data-bluesky-cid="bafyreif63cfq6ohawi3zjj22h63y5seazkqun4lh4ree6tg75yyhcglrre"><p lang="en">Liking jinx is a red flag</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdj5uuxa22b?ref_src=embed">November 19, 2024 at 2:54 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbdj6buk2k2b" data-bluesky-cid="bafyreiceei3q7ifqj6netvlektjylqktbaxd6pmg53infkaz2p4woitcrm"><p lang="en">I like her a bunch yalll</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdj6buk2k2b?ref_src=embed">November 19, 2024 at 2:54 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbdj6ufau22b" data-bluesky-cid="bafyreibi33eg6p4n4ez5vw5zivi42eju5apqlc3slrkngxanmg6z4vafoe"><p lang="en">35 40 35 40</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdj6ufau22b?ref_src=embed">November 19, 2024 at 2:54 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbdj7i6uak2b" data-bluesky-cid="bafyreigp24serwpejtvmcn376tnoz4glhroowvjzxbryfolok7fruak2wm"><p lang="en">The numbers what do they mean mason</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdj7i6uak2b?ref_src=embed">November 19, 2024 at 2:55 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbdj7rgwu22b" data-bluesky-cid="bafyreids2wnn5oveuainwqopfmi5zzg5lp74s7ukhp4v4npa3nmvb7cz6q"><p lang="en">Bouncy bouncy bounce</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdj7rgwu22b?ref_src=embed">November 19, 2024 at 2:55 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="https://cdn.bsky.app/img/feed_thumbnail/plain/did:plc:72tayfilsa6caks67lld7phz/bafkreiavbh773xdpm2zyioqgxrnaf2vzvvysciymoujgrb42ryy4nehfs4&#64;jpeg" alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbdjatu36k2b" data-bluesky-cid="bafyreibnw4gwx4sk3rwiqpsxh3b3rkpq4qnnjdiyjg6kozoywbzkixzboa"><p lang="en">L<br><br><a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdjatu36k2b?ref_src=embed"> </a></p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdjatu36k2b?ref_src=embed">November 19, 2024 at 2:56 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="https://cdn.bsky.app/img/feed_thumbnail/plain/did:plc:72tayfilsa6caks67lld7phz/bafkreigv7kr72tpaukl3asbsvguxykg55ho63ohqgiivjx2jvafx2dfpge&#64;jpeg" alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbdjcponrs2b" data-bluesky-cid="bafyreicehltjndswoawzvulexff5jqr52mkx24awvow4ppfpr6dqtyqmni"><p lang="en">My situation ships grandma&#x27;s garden is soooo pretty ❤️<br><br><a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdjcponrs2b?ref_src=embed"> </a></p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdjcponrs2b?ref_src=embed">November 19, 2024 at 2:56 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbdjdxszfc2b" data-bluesky-cid="bafyreibuqqte2leklertq2m3uvkhil7kwweaidwrdawj43fu7bahytxnpm"><p lang="en">Heye</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdjdxszfc2b?ref_src=embed">November 19, 2024 at 2:56 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbdjegcndc2b" data-bluesky-cid="bafyreid7gy2exxl23cbtr6scby6ql73bqalnzbvzyo7e4z4klygvxbtgju"><p lang="en">This is a precedent Dhfn</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdjegcndc2b?ref_src=embed">November 19, 2024 at 2:56 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="https://cdn.bsky.app/img/feed_thumbnail/plain/did:plc:72tayfilsa6caks67lld7phz/bafkreicxkqcoem6fgbbmyrbbj4yavzdv2fmmwtddxqrdx5eaucwgulbcb4&#64;jpeg" alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbdjf75dyk2b" data-bluesky-cid="bafyreifhziwocqekq2juapqvli2wet2hcwwebrqj3vwsxmeeo46qmvdnby"><p lang="en">I luve thee cat<br><br><a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdjf75dyk2b?ref_src=embed"> </a></p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdjf75dyk2b?ref_src=embed">November 19, 2024 at 2:56 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="https://cdn.bsky.app/img/feed_thumbnail/plain/did:plc:72tayfilsa6caks67lld7phz/bafkreierkaxr756wlpdkb6ycu32xtr3eyd3xd43pkfzc5huhivnudhue3e&#64;jpeg" alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbdjfubsi22b" data-bluesky-cid="bafyreidkiykdwzwb34ihucrka7gvcmglvycjtmknw4lxqameec2opcqz7y"><p lang="en"><br><br><a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdjfubsi22b?ref_src=embed"> </a></p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdjfubsi22b?ref_src=embed">November 19, 2024 at 2:57 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbdjgnseec2b" data-bluesky-cid="bafyreihoqdg2qmeewead2g7esvtwqwbkapdbph3g6amy2vufuq2yt3saru"><p lang="en">O is for under the desk during ARAM</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdjgnseec2b?ref_src=embed">November 19, 2024 at 2:57 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbdjgnseec2b" data-bluesky-cid="bafyreihoqdg2qmeewead2g7esvtwqwbkapdbph3g6amy2vufuq2yt3saru"><p lang="en">O is for under the desk during ARAM</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdjgnseec2b?ref_src=embed">November 19, 2024 at 2:57 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbdjhgn4y22b" data-bluesky-cid="bafyreigkgo5xtza2crdjn7ybykhwgxvl7ohmgxeendjsvyqisj646qj36u"><p lang="en">Oompah lookout doopity doo</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdjhgn4y22b?ref_src=embed">November 19, 2024 at 2:57 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbdjhq4a722b" data-bluesky-cid="bafyreih7kfaxbprqyq4etl2om53jkw3fwzbm7by2rskvv66ghuj4mwz26q"><p lang="en">Fuck thebpolice</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdjhq4a722b?ref_src=embed">November 19, 2024 at 2:57 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbdjiboal22b" data-bluesky-cid="bafyreihhd3fi356armwwlshb7cwbkcmlwsq5quun3ajsrgjyiiwq3m7sta"><p lang="en">I miss my son🐈</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdjiboal22b?ref_src=embed">November 19, 2024 at 2:57 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbdjjryqu22b" data-bluesky-cid="bafyreidltellaoszyi2m7fbvwsunjvqhnjincxeunkn5n2wbbx2xdrqr4e"><p lang="en">She&#x27;s awesome</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdjjryqu22b?ref_src=embed">November 19, 2024 at 2:58 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbdjkgf5sk2b" data-bluesky-cid="bafyreicovyp5noetbeqchxawjcwuqaui4h6sg4b74q7nnp67eg6qi3pb2i"><p lang="en">Her grandma is so sweet</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdjkgf5sk2b?ref_src=embed">November 19, 2024 at 2:58 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbdjko2q7c2b" data-bluesky-cid="bafyreia35ord4viojstdjof7bvul7c7ss4gufawdqig5rs75axrzm7yptm"><p lang="en">The child has opinions</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdjko2q7c2b?ref_src=embed">November 19, 2024 at 2:58 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbdjkyikt22b" data-bluesky-cid="bafyreigcctxkoxjdbg37yg77t7w4yfjrmdwyhrmccymqsqjqioq3ac7rpm"><p lang="en">I don&#x27;t remember what has been tweeted</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdjkyikt22b?ref_src=embed">November 19, 2024 at 2:58 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbdjldf45c2b" data-bluesky-cid="bafyreiflmy6uw52npyduks4tbknljkxc6vsbftquccoel4xmei5hskngje"><p lang="en">Fuck y&#x27;all for making skeet gain traction</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdjldf45c2b?ref_src=embed">November 19, 2024 at 2:59 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbdjll7zgs2b" data-bluesky-cid="bafyreiaew2ji5hxfqwc666s6525i3nfhasohrnpvdmzsqhqmr2kxd2qlv4"><p lang="en">Alf something or another</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdjll7zgs2b?ref_src=embed">November 19, 2024 at 2:59 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbdjlzsozs2b" data-bluesky-cid="bafyreibjfkybuwdgqsa2iodnfj7j5swysptfouwkyquupqvj5wne6lk7de"><p lang="en">I&#x27;m hungry, I just wanna taste</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdjlzsozs2b?ref_src=embed">November 19, 2024 at 2:59 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbdjmqxzos2b" data-bluesky-cid="bafyreiduvh4kdljuoywmclhi273lfoadbhjzrtcb6xvv3j5aa7bvvaxyiu"><p lang="en">The previous post was about eating pussy consensually</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdjmqxzos2b?ref_src=embed">November 19, 2024 at 2:59 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbdjndm5uc2b" data-bluesky-cid="bafyreieuzuw4dw5epbrjb2usj35pwksplux5iwa4gd2cj7gckowmx4vvcm"><p lang="en">After I count down three rounds in hell I&#x27;ll be in good company</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdjndm5uc2b?ref_src=embed">November 19, 2024 at 2:59 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="..." alt=" ">
    <div class="card-body">
      <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:72tayfilsa6caks67lld7phz/app.bsky.feed.post/3lbdro7xy2s2m" data-bluesky-cid="bafyreicro6rlwmk44btm3t6azaaxiquaagjukqibekxhxhe35rsxsakbym"><p lang="en">I am sober again</p>&mdash; Evan From HIMediaTV (<a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz?ref_src=embed">&#64;himedia.gg</a>) <a href="https://bsky.app/profile/did:plc:72tayfilsa6caks67lld7phz/post/3lbdro7xy2s2m?ref_src=embed">November 19, 2024 at 5:17 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </div>
  </div>
